extends /layout/_application
block title
  title 
block body
  #wrapper
    h1#title TAJISLO
    div#slot
      div.first
      div.second
      div.third
    div#buttons
      div.button.first
      div.button.second
      div.button.third
    div#characters
      p.character.ng
        img(src="img/chara00.png" alt="キャラクター")
      p.character.ok
        img(src="img/chara01.png" alt="キャラクター")
