$yellow00: #ffdd44
$yellow01: #d2b41e
$small: 1.5

#title
  $img: "logo.png"
  +image-text( $img )
  margin: 20px auto 0

#slot
  position: absolute
  +trbl( 280px, 0, auto, 0 )
  width: 1200px / $small
  height: 432px / $small
  margin: 0 auto
  box-shadow: 0 0 8px 0 #777

  .first,
  .second,
  .third
    float: left
    width: 400px / $small
    height: 432px / $small
    overflow: hidden
    background: #fff

  .first,
  .second
    border-right: 2px solid #ccc

  $slotArr: "first", "second", "third"
  @for $i from 1 through 3
    .#{ nth( $slotArr, $i ) }
      $img: "#{ nth( $slotArr, $i ) }.png"
      +bg( $img, 100% auto )

#buttons
  position: absolute
  +trbl( 580px, 0, auto, 0 )
  width: 1200px / $small
  height: 100px / $small
  margin: 0 auto

  .button
    float: left
    width: 300px / $small
    height: 100px / $small
    margin: 0 ( 50px / $small )
    cursor: pointer

    background: $yellow00 
    border-radius: 50px
    box-shadow: 5px 8px 0 0 $yellow01 

    &:active,
    &.selected
      +transform( translateX( 5px ) translateY( 8px) )
      box-shadow: none 

    &.selected
      background: $yellow01 
      cursor: auto 

#characters
  .character
    display: none
    $img: "chara00.png"
    position: absolute
    +trbl( auto, 0, 0, auto )
    +image-size( $img )

    &.show
      display: block
      +transform-origin( 100%, 100% )
      +animation( big 0.4s linear 0.8s infinite )
